/* 폰트
헤드에 추가할 링크
<link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Jua&family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Poor+Story&display=swap" rel="stylesheet">

font-family: 'Cute Font', cursive;
font-family: 'Jua', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Poor Story', cursive;
 */

/* body { */
/* display: grid; */
/* grid-template-rows: 90px 1fr; */
/* padding-top: 8%; */
/* } */

h1 {
	font-family: "Jua", sans-serif;
	font-size: 25px;
}

#bodybox {
	max-width: 1000px;
	width: 100%;
	margin: 10px auto 10px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	/* border: 1px solid #aaa; */
	border-radius: 10px;

	color: #000000;
	text-align: center;
}


/* ######################################################### */
/* header */
#headbox {
	/* position: fixed; */
	/* top: 0; */
	/* width: 100% */
	/* left: 0; */
	/* right: 0; */

	max-width: 1000px;
	min-height: 50px;
	width: 100%;
	margin: 0.2% auto 10px auto;
	/* padding-top: 10px; */
	/* padding-bottom: 10px; */
	
	border: 1px solid #aaa;
	border-radius: 10px;
	background-color: #fff;

	color: #000000;
	text-align: center;
	box-shadow: 0px 5px 5px 0px gray;

	display: grid;
	grid-template-columns: 100px 1fr 100px;
}

#headbox #head-left {
	font-size: 23px;
	font-family: "Jua", sans-serif;
	cursor: pointer;
}

#headbox #head-left:hover {
	font-size: 25px;
}

#headbox #head-center {
	font-size: 25px;

	font-family: "Poor Story", cursive;
	font-weight: bolder;
	cursor: pointer;
}

/* #headbox #head-center:after {
	content: '⛳';
} */

#headbox #head-center:hover {
	font-size: 26px;
}

#headbox #head-left,
#headbox #head-center,
#headbox #spartaicon {
	margin: auto;
}

/* #spartaicon {
	width: 50%;
	content: url('https://spartacodingclub.kr/v5/icons/logo_v2.svg');
	cursor: pointer;
} */

/* #spartaicon:hover {
	width: 55%;
} */

#headbox button {
	border: none;
	background-color: #fff;
	font-size: x-large;
	font-family: "Jua", sans-serif;
}

#headbox button:hover {
	font-weight: bolder;
}

/* ######################################################### */
/* indexPage */
#indexPage #welcomeBox {
	margin: auto;
	width: 70%;
	/* border: 1px solid gray; */
	/* border-radius: 10px; */

	display: grid;
	grid-template-columns: 5fr 2fr;

	font-family: "Nanum Gothic", sans-serif;
	font-size: large;
}

#indexPage #homebtn-wrap {
	width: 70%;
	margin: 50px auto auto auto;
}

#homebtn-wrap button {
	width: 80%;
	margin: 10px auto auto auto;
	border-radius: 10px;

	font-size: x-large;
	font-family: "Cute Font", cursive;
}

/* ######################################################### */
/* mdmPage */
#mycheetah {
	width: 60%;
}

/* ######################################################### */
/* numgamePage */
#numgamePage body {
	margin: auto;
}

#numgamePage .container-50 {
	width: 50%;
	margin: 0.2% auto 10px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #aaa;
	border-radius: 10px;
	background-color: #fff;
}

#numgamePage button {
	border: 1px solid rgb(0, 30, 255);
	background-color: rgb(0, 229, 255);
	border-radius: 10px;
	cursor: pointer;
}

#numgamePage button:hover {
	font-weight: bolder;
	background-color: rgb(0, 200, 255);
}

/* ######################################################### */
/* testPage */
#testPage #inputBox {
	width: 50%;
	margin: 0.2% auto 10px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #aaa;
	border-radius: 10px;
	background-color: #fff;
}

#testPage #inputBox input {
	display: block;
}

#testPage #tableBox {
	width: 50%;
	margin: 0.2% auto 10px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #aaa;
	border-radius: 10px;
	background-color: #fff;
}

#testPage #testTable {
	width: 50%;
	margin: 0.2% auto 10px auto;
}

#testPage #testTable th,
#testPage #testTable tr,
#testPage #testTable td {
	border: 1px solid #aaa;
}

/* ######################################################### */
/* 모바일용 */
@media(max-width:700px) {

	#indexPage #welcomeBox {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
	}

	#headbox #head-center:after {
		content: '';
	}
}
