/* 폰트
헤드에 추가할 링크
<link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Jua&family=Nanum+Gothic:wght@400;700;800&family=Nanum+Myeongjo:wght@400;700;800&family=Poor+Story&display=swap" rel="stylesheet">

font-family: 'Cute Font', cursive;
font-family: 'Jua', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Poor Story', cursive;
 */

/* body { */
/* display: grid; */
/* grid-template-rows: 90px 1fr; */
/* padding-top: 8%; */
/* } */

h1 {
	font-family: "Jua", sans-serif;
	font-size: x-large;
}

#bodybox {
	max-width: 1000px;
	width: 100%;
	margin: 10px auto 10px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	/* border: 1px solid #aaa; */
	border-radius: 10px;

	color: #000000;
	text-align: center;
}

/* ######################################################### */
/* header */
#headbox {
	/* position: fixed; */
	/* top: 0; */
	/* width: 100% */
	/* left: 0; */
	/* right: 0; */

	max-width: 1000px;
	width: 100%;
	margin: 0.2% auto 10px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #aaa;
	border-radius: 10px;
	background-color: #fff;

	color: #000000;
	text-align: center;
	box-shadow: 0px 5px 5px 0px gray;

	display: grid;
	grid-template-columns: 100px 1fr 100px;
}

#headbox #head-center {
	font-size: x-large;

	font-family: "Poor Story", cursive;
	font-weight: bolder;
	cursor: pointer;
}

#headbox #head-center:before {
	content: "연준이의 코딩 연습실✍️";
}

#headbox #head-left,
#headbox #head-center,
#headbox #head-right {
	margin: auto;
}

#spartaicon {
	width: 50%;
}

#headbox button {
	border: none;
	background-color: #fff;
	font-size: x-large;
	font-family: "Jua", sans-serif;
}

#headbox button:hover {
	font-weight: bolder;
}

/* ######################################################### */
/* indexPage */
#indexPage #welcomeBox {
	margin: auto;
	width: 70%;
	/* border: 1px solid gray; */
	/* border-radius: 10px; */

	display: grid;
	grid-template-columns: 5fr 2fr;

	font-family: "Nanum Gothic", sans-serif;
	font-size: large;
}

#indexPage #homebtn-wrap {
	width: 70%;
	margin: 50px auto auto auto;
}

#homebtn-wrap button {
	width: 80%;
	margin: 10px auto auto auto;
	border-radius: 10px;

	font-size: x-large;
	font-family: "Cute Font", cursive;
}

/* #test {
	width: 90%;
	height: 200px;

	border: 1px solid #aaa;

	color: #000000;
	text-align: center;

	background-image: url("https://lh3.googleusercontent.com/fife/AAbDypCBjO6tAzhetZ4vMshymgEdPYyhjBOC4fBejmx_3fAem85gYsTY-I0JsjSm63jNvJKrc4-cXks6Eaziq868iPKdBm1VYECJCHLymge5-U26WrBQJb-J1-OAZX1_zOQvqPv8FBPCXd-iJHXQcQHFYLmsxxzYqfG5QavAGoMemDegXd-lVy_gpORdU2Ckgb49_NLS8fACSgo6lkXshPz3AE1sqkemqIWmOTsCzXiC2mHeCabIdW1b7IzkdaKuu84xOm8-z4KYMWHk8ofHMoP_0iqT5_KqsrWvT2TvXxriQZvgvom17Zj0MVr1UFo7T45u_P6dbTIhiJ9HuEC5IUhSJx5Vrzf3uN8gk0U86jm2L2QOleTJ0BrDj7pvOE5NAGs5uCV5obF1jXKLOFANNubv9aNOGd1jLCOe3aYinRZ5VEM082oK18Blc4VcyLKLliL87GCJ4q6WOcaW_Ul2ZdNPj5GzAPLlN-h4P6btJlNeDCeH--7BvVT_uR2VsfPCIz5M9mf_0rVmuYLTuGWr-LVLRtitwd2VeVomoT1u5tytEPDvFuyIboQ_dgB-dyYnwOd7NQmHv1arDG4dvlthyvWbMjkbhsWsKYHOmnshhO50x6d0Zqg46gz0X3l37LI-upCOansb9RPNoyR-vZMN3B0h1PsuBRNo2ueGgkcLnp0Ar6h-pU74k-NeD33-nU4hCqGT9qvL0RV29hTUhEUJ1s6bImjkyXv19J3sv3N33b7Mr6PkQAjZXEBXnp2SAoxKH8HJigxBt8xn8wFqwR8hD3z2j3MzXyzr_adez8NtWpLbZL-Y30ngO0zEOTDNGCHqlPsclMVrkcAtNwTxRro-v_JA6GOinY7f6pYgi7D3fTOFYrxclP8vkT0qxMu3AOq6yPwy8vItlwLA7Hr_7Dp2tmzKtfIGPoLlyd3PZKCuTBnCF0I_nUxoqFNas3GEMa_bgVXHO7URN_ptQ1vHVBjTv-WB2mLhXctW9tEQuJcrNkTw4zA9dzgypaxsiuZkE_VLtrfkWDF0MwdzE8jY9xXiWvgm8bgLJujZ3MCswBTacqIiMZoz7ufhG3qaydVCeAieb12-E7Ybu-EJp9eGq_cZ35HED5aey5FZYPxggknMUVobKaGmUbkGWYwl3HRBa2tkhPxgCcfysIGZD3ecNtD_VZe3eOyjjM6ycTNJ5pTXd0HQqv6AaxPmZzNQBppA6GGCEbCzLszRf--I8P7nMm9MPIQsKwukrnlTVuKIoCcTWbgWEZR1yeDHCO4VnnDK84uSQxsD6iuJ3aIq9ZeCpVjVy5nKY6eVxmgKSNW-eZJ2f1v6M17wmVl0l7_X_4vQYlpgaZTa3GLVvEm2Yi5rWa6I3PwBz1vjgaetEtUCQ5p5UFblQi_pophuOgZOawoPC73vfNbKsrF-jY5iXxsCm_lH0rM_W5MZSQ0WlbWhstGrT6s8XDTpn4iUYRs6Vw-HLG7am7haBR053j1YRxxZeZtFDwj33xHWL7ZqEKY6bqt_W_b-n-VUbj6qzp_S=w1176-h870");
	background-size: cover;
	background-position: center 70%;

	border-radius: 10px;
} */

/* mdm page */
#mycheetah {
	width: 60%;
}

/* number page */
#numgamePage body {
	margin: auto;
}

#numgamePage .container-50 {
	width: 50%;
	margin: 0.2% auto 10px auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #aaa;
	border-radius: 10px;
	background-color: #fff;
}

#numgamePage button {
	border: 1px solid rgb(0, 30, 255);
	background-color: rgb(0, 229, 255);
	border-radius: 10px;
	cursor: pointer;
}

#numgamePage button:hover {
	font-weight: bolder;
	background-color: rgb(0, 200, 255);
}



/* 모바일용 */
@media(max-width:550px) {
	#headbox #head-center {
		font-size: large;
	
		font-family: "Poor Story", cursive;
		font-weight: bolder;
		cursor: pointer;
	}

	#headbox #head-center:before {
		content: "연준이의 코딩 연습실";
	}

	#headbox button {
		border: none;
		background-color: #fff;
		font-size: large;
		font-family: "Jua", sans-serif;
	}
}